<!doctype html>
<meta charset="utf-8">
<title>假期出游因素分析</title>
<link href="{{ url_for('static',filename="css/style.css") }}"  rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static',filename="css/button.css") }}"  rel="stylesheet" type="text/css" />

<body>
<div class="wpbox">
<div class="bnt">
  <div class="topbnt_left fl">
   <ul>
   </ul>
  </div>
  <h1 class="tith1 fl">假期出游因素分析</h1>
  <div class=" fr topbnt_right">
    <ul>
    </ul>
  </div>
</div>
<!-- bnt end -->
<div class="left1">

</div>
<!--  left1 end -->
<div class="mrbox">
      <div class="mrbox_topmidd" style="width: 69%;">
          <div class="amiddboxttop">
              <h2 class="tith2 pt1">中国省会城市地图</h2>
                <div class="hot_map" id="topmap">
                    <a onclick="getMapOne()" class="btn">降水分布图</a>&nbsp;&nbsp;
                    <a onclick="getMapTwo()" class="btn">温度分布图</a>&nbsp;&nbsp;
                    <a onclick="getMap()" class="btn">中国省会城市地图</a>&nbsp;&nbsp;
                    <span id="china_map">
                        {{ map | safe }}
                    </span>
                </div>
            </div>
            <!--  amiddboxttop end-->
                <div class="amidd_bott">
                  <div class="amiddboxtbott1 fl" >
                    <h2 class="tith2 pt1" id="chart2_title">{{ city }}xx节前后降水与温度</h2>
                      <div class="lefttoday_tit"><p class="fr" id="timer"></p></div>
                    <div id="chart2" class="amiddboxtbott1content2" >{{ chart2 | safe }}</div>
                  </div>

                <div class="amiddboxtbott2 fl"><h2 class="tith2 pt1">景区客流情况</h2>
                    <div id="arightboxbott" class="amiddboxtbott2content">
                        {% for day in days[:4] %}<a onclick="changeChart3Day('{{ day }}')" class="btn">{{ day }}</a>{% endfor %}<br/>
                        {% for day in days[4:] %}<a onclick="changeChart3Day('{{ day }}')" class="btn">{{ day }}</a>{% endfor %}
                        <span id="chart3">
                            {{ chart3 | safe }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- amidd_bott end -->
          </div>
        <!-- mrbox_top end -->
        <div class="mrbox_top_right">
          <div class="arightboxtop"><h2 class="tith2">各个省份降水概率和温度</h2>
            <div id="aleftboxtbott"  class="aleftboxtbott_contr"> {{ chart1 | safe }}</div>
          </div>
            <div class="arightboxbott"><h2 class="tith2 ">假期出游推荐指数</h2>
                    <div style="text-align: center; margin-top: 15%; font-size: 100px">99分</div>
              <div id="aleftboxtmiddr" class="arightboxbottcont2"></div>
            </div>
        </div>
        <!-- mrbox_top_right end -->
      </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

    var city = "上海";

    let charts = $(".chart-container");
    charts.eq(0).on("click",function (params) {

        city = params.currentTarget.textContent.split(" : ")[0];

        $.post(
            "/getChart2ByCity",
            {"city":city},
            function (data) {
                $("#chart2_title").html(data.city);
                $("#chart2").html(data.chart);
                $("#chart3").html(data.chart3);
            }
        )
    });

    function changeChart3Day(day) {
        $.post(
            "/getChart3ByCity",
            {"city":city, "day":day},
            function (data) {
                $("#chart3").html(data.chart);
            }
        )
    }

    function getMapOne() {
        $.post(
            "/getMapOne",
            function (data) {
                $("#china_map").html(data.chart);
            }
        )
    }

    function getMapTwo() {
        $.post(
            "/getMapTwo",
            function (data) {
                $("#china_map").html(data.chart);
            }
        )
    }


    function getMap() {
        $.post(
            "/getMap",
            function (data) {
                $("#china_map").html(data.chart);
            }
        )
    }


</script>
</body>
</html>
